@model KingdomWeb.Models.Usuario

@{
    ViewBag.Title = "Ingresar";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Ingresar</h2>

@using (Html.BeginForm())
{
    Html.ValidationSummary(true, "Error al Ingresar, Verifica tu nombre de Usuario o Contraseña");
    <div>

        <fieldset>
            <legend></legend>
            <div class="editor-label">@Html.LabelFor(u => u.NombreUsuario)</div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.NombreUsuario)
                @Html.ValidationMessageFor(u => u.NombreUsuario)
            </div>
            <div class="editor-label">@Html.LabelFor(u => u.ContraseñaUsuario)</div>
            <div class="editor-field">
                @Html.PasswordFor(u => u.ContraseñaUsuario)
                @Html.ValidationMessageFor(u => u.ContraseñaUsuario)
            </div>
            <input type="submit" value="Ingresar" />

        </fieldset>
    </div>

}

