@model KingdomWeb.Models.Usuario

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<fieldset>
    <legend></legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NombreUsuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreUsuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContraseñaUsuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContraseñaUsuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EmailUsuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmailUsuario)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UsuarioId }) |
    @Html.ActionLink("Ver Usuarios", "Index")
</p>
